

.banner{
	background-image: linear-gradient(0deg, #E7833B 0%, #FBA20E 50%);
	position: relative;
	height: 490px;
	width:100%;
	margin: 0 auto;
}
.banner:before, .banner:after {
	content: "";
	display: table;
}

.banner:after{
	clear: both;
}
.title-bar{
	background-color: #FAA20E;
	height: 60px;
}

#logo{
	margin-top:27px;
	margin-left: 24px;
	width: 130px;
	height: 105px;
	background-repeat: no-repeat;
	font-size: 0;
	background-size: 100%;
	position: absolute;
}

#search-icon{
	margin-top: 27px;
	margin-right: 24px;
	background-repeat: no-repeat;

}

#search-icon2 {
	position: absolute;
	background-repeat: no-repeat;
}

.header{
	position: absolute;
	width: 1440px;
	max-width: 100%;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 72px;
	text-align: center;
	margin-top: 200px;
}
h2{
	font-family: 'Oswald', sans-serif;
	font-size: 42px;
	font-weight: 100;
	text-align: center;
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: #4F4F4F;
}

h5{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
}

p {
	
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
color: #737373;
opacity: 1.00;

}

.heading {

	margin-bottom: 33px;
	margin-top: 83px;
	margin-left: 50px;
}

.slick-slide {
	position: relative;
	/*margin-left: 20px;*/

}
.slick-slide {
	height: 406px;
	width: 345px;
	margin-right: 20px;
	border: 3px solid white;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);

}

.overlay{
	height: 35%;
	width: 100%;
	bottom:-3px;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);

}
.slick-slide p{
	position: absolute;
	bottom:1%;
	left: 8%;
}
.slick-slide h3{
	position:absolute;
	font-size: 30px;
	bottom:15%;
	left:8%;
}
.rating-circle{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 40px;
	width:40px;
	position: absolute;
	bottom: 5%;
	right: 5%;
	background-color: #E7833B;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	color: #FFFFFF;
	opacity: 1.00;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);

}
.orange{
	background-color: #F2994A;
}

.seemore, .search{
	border-radius: 10px;
	padding: 30px 160px;
	font-size: 35px;
}

.seemore {

	margin-top: 175px;
	margin-bottom: 300px;
}
.seemore:hover{
	background-color: #FAA20E;
}
footer {

background-image: linear-gradient(0deg, #E7833B 0%, #FBA20E 50%);
height: 305px;

}

#footerlogo {

width: 131px;
height: auto;
margin-top: 53px;
margin-bottom: 47px;

}

.row {
	max-width:1440px;
}

footer a {
text-decoration: none;
list-style: none;
font-family: 'Oswald', sans-serif;
font-weight: 100;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0.67px;
padding-right: 20px;

}

footer li {

	padding-right: 18px;
	padding-left: 18px;
}

footer ul {

	list-style: none;
	justify-content: center;

}

footer p {
font-family: 'Oswald', sans-serif;
font-weight: 100;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.67px;
}
/*--------------------Filtersíða-----------------*/
.container {
	max-width: 1110;
}

#exit{
	height:35px;
	width:36px;
	margin-top: 53px;
	margin-right: 43px;
}

#search{
	margin-top: 150px;
	width: 100%;
	border-bottom: 2px solid #E7833B;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 0px;
	box-shadow: none;
}
.ui-slider-range {
 background-color: #FBA20E ;
}


#circles-slider1.ui-slider {
 border-radius: 20px;
 background: transparent;
 border: none;
 height: 10px;
 margin: 1em 4em 4em; }

#circles-slider1 .ui-slider-handle {
 border-radius: 30px;
 height: 30px;
 width: 30px;
 top: -10px;
 margin-left: -11px;
 background-color: #FBA20E ;
 border: 4px solid rgba(250,162,14,.3);
}

#circles-slider1 .ui-slider-pip {
 top: 3px; }

 #circles-slider1 .ui-slider-pip .ui-slider-line {
   width: 4px;
   height: 4px;
   border-radius: 4px;
   margin-left: -2px;
   background: #E5E5E5;
}
#circles-slider1 .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
#circles-slider1 .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
   display: none; }

#circles-slider1 .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
#circles-slider1 .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
   margin: 0px; }

#circles-slider1 .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
   left: -0.6em;
   text-align: right;
   top:-60px;
}

#circles-slider1 .ui-slider-pip.ui-slider-pip-last .ui-slider-label {
   left: 1em;
   text-align: left;
   top:-60px;
}

.ui-slider-pips .ui-slider-pip-selected-2 {
    color: #FBA20E;
}
.ui-slider-pips .ui-slider-pip-initial-2  {
    color: #FBA20E;
}

.genrebuttons{
	margin-bottom: 32px;
}
.button.btngenre{
	width: 338px;
	height: 95px;
}
.btngenre{
	border-color: #E84B33;
	border-radius: 10px;
	background-color: #FFF;
	color: #E84B33;
	font-size: 28px;
	font-weight: 500;
	margin-right: 16px;
	margin-left: 16px;
	margin-bottom: 0px;
	text-align: center;
    line-height: 45px;
}
.btngenre:hover{
	background-color: #E84B33;
	color:#FFF;
}
.slædergenre{
	display: none;
}
.button.showmore{
	border-color: #3D6390;
	border-radius: 10px;
	background-color: #FFF;
	color: #3D6390;
	text-align: center;
	font-size: 20px;
	margin-top: 62px;
	margin-right: 100px;
}
.button.showmore:hover{
	background-color: #3D6390;
	color:#FFF;
}
.button.btnsearch{
	margin-top: 115px;
	margin-bottom: 250px;
}
.button.btnsearch:hover{
	background-color: #FAA20E;
}

/*--------------------------------Text results síða------------*/

.textresultsdalkur{
	height: 255px;
	background-color: blue;
}
.spjald{
	height: 229px;
	position: relative;
}
.textresultsmynd{
	background-color: yellow;
	position: absolute;
	height: 84px;
	width: 88px;
}
.textresultstexti{
	background-color: red;
	position: absolute;
	height: 100px;

}

/*------------------------------------------------SINGLEPAGE--------*/


.banner1 {

	background: no-repeat center center;
  	background-size: cover;
  	background-attachment: fixed;
  	position: absolute;
  	
}

.banner1 img {

	width: 1480px;
	height: auto;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

}

.banner-mobile {
	display: none;
}

.play {

	position: absolute;
	margin-top: 300px;
}

.container {

	max-width: 86%;
	margin: 0 auto;
}

.poster img {

	width: 388px;
	height: auto;
	position: absolute;
	margin-top: 510px;
	opacity: 1.00;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

}

.circle {

	background: #E7833B;
	height: 142px;
	width: 142px;
	border-radius: 50%;
	position: absolute;
	margin-top: 540px;

}


.circle h2 {
	
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 100%;
color: #FFFFFF;
opacity: 1.00;
margin-top: 30px;
margin-left: 30px;

}

.circle p {
	
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 100%;
color: #FFFFFF;
opacity: 1.00;
margin-left: 35px;

}

.movie-info {

position: absolute;
display: flex;
flex-direction: row;
}

.movie-text h1{

position: absolute;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 95%;
color: #4F4F4F;
opacity: 1.00;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
margin-top: 750px;
margin-left: 100px;

}

.movie-text h2 {

position: absolute;
font-family: "Oswald";
font-style: normal;
font-weight: lighter;
font-size: 70px;
line-height: 95%;
color: #4F4F4F;
opacity: 1.00;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
margin-top: 750px;
margin-left: 400px;

}

 #year {
position: absolute;
margin-left: 100px; 
margin-top: 880px;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 100%;
color: #3D6390;
opacity: 1.00;
}

#director {

position: absolute;
margin-top: 953px;
margin-left: 100px;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;

}

#name {

position: absolute;
margin-top: 953px;
margin-left: 200px;
font-family: 'Roboto-Light';
letter-spacing: 0.2px;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;

}

.writer {

	margin-top: 40px;

}

#duration {

position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 100%;
color: #828282;
opacity: 1.00;
margin-top: 1150px;

}

#hours {

position: absolute;
font-family: 'Roboto-Light';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 100%;
color: #828282;
opacity: 1.00;
margin-top: 1150px;
margin-left: 130px;

}

.Genre {

	margin-top: 40px;
}

#stills h3{

position: absolute;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;
margin-top: 1250px;

}

#stillphoto1 {

	position: absolute;
	margin-top: 1340px;
	
}

#stillphoto2 {
	position: absolute;
	margin-top: 1580px;
}

#still {

margin-left: 15px;

}

#plot h3{

position: absolute;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;
margin-top: 1250px;
margin-left: 650px;

}

#plot p {

position: absolute;
margin-top: 1353px;
margin-left: 650px;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
color: #4F4F4F;
opacity: 1.00;

}

#story h3{

position: absolute;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;
margin-top: 1520px;
margin-left: 650px;

}

#story p {

position: absolute;
margin-top: 1600px;
margin-left: 650px;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
color: #4F4F4F;
opacity: 1.00;

}

footer {

background-image: linear-gradient(0deg, #E7833B 0%, #FBA20E 50%);
height: 305px;

}

#footerlogo {

width: 131px;
height: auto;
margin-top: 53px;
margin-bottom: 47px;

}

.row {

max-width: 1380px;

}

footer a {

text-decoration: none;
list-style: none;
font-family: 'Oswald';
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0.67px;
padding-right: 20px;

}

footer li {

	padding-right: 18px;
	padding-left: 18px;
}

footer ul {

	list-style: none;
	justi: ;fy-content: center;

}

footer p {

font-family: 'Oswald';
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.67px;

}

/*------------------------------------------------MOBILE-----------------------------------------------*/
@media screen and (max-width:950px){
	.slick-slide {
		height: 214px;
		width: 333px;
		margin-right: 20px;
	}

	.overlay{
		height: 214px;
		width: 70%;
		 -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  		clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
		left: 110px;
		bottom:-3px;
		position: absolute;
		background: rgba(255, 255, 255, 0.9);
		padding: 10px;
	}
	.slick-slide p{
		position: absolute;
		bottom:0%;
		left: 43%;
	}
	.slick-slide h3{
		position:absolute;
		bottom:38%;
		left:58%;
	}
	.rating-circle{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		height: 40px;
		width:40px;
		position: absolute;
		bottom: 5%;
		right: 5%;
		background-color: #E7833B;
	}

	.seemore {
		display: none;
	}

	footer {

		height: 500px;
		margin-top: 100px;
	}

	footer ul {

		display: flex;
		flex-direction: column;
	}

	.copyright {

		justify-content: center;
		margin-top: 50px;
	}
}



/*------------------------------------------------MOBILE-----------------------------------------------*/

@media screen and (max-width: 767px) {
	.row{
		width:95%;
	}

@media screen and (max-width: 460px) {
h1{

font-family: "Oswald";
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 100%;
color: #FFFFFF;
opacity: 1.00;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);

}
h2{
	display: none;
}
h3{
	font-size: 18px;
}

.heading {
	margin-top: 35px;
	margin-left: 25px;
	margin-bottom: 15px;
}

.heading h3 {

font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 100%;
color: #4F4F4F;
opacity: 1.00;

}

.header {

	margin-top: -100px;
}

.banner {

	height: 200px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}

.row{
		width:95%;
	}

#logo{
	margin-top:13px;
	margin-left: 5px;
	width: 52px;
	height: 42px;
	background-repeat: no-repeat;
	font-size: 0;
	background-size: 100%;
	position: absolute;
}
#search-icon{
	margin-top: 15px;
	margin-right: 5px;
	width: 25px;
	height: auto;
	background-size: 100%;

}

.banner1{
	height:250px;
}
.row{
	width:100%;
}

	.banner1 img {
		display: none;
	}

	.banner-mobile {
		position: absolute;
		display: block;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

	.play {

		width: 74px;
		height: auto;
		margin-top: 130px;
		position: absolute;
	}
	.poster img {

	width: 167px;
	height: auto;
	position: absolute;
	margin-left: 12px;
	margin-top: 230px;
	
}
	.circle {
		
		position: absolute;
		margin-left: 310px;
		margin-top: 240px;
		height: 40px;
		width: 40px;
	}

	.circle h2 {

		font-size: 16px;
		margin-left: 9px;
		margin-top: 12px;
	}

	.circle p {
		display: none;
	}

	.movie-text {

		font-size: 
	}
/*--------------------Filtersíða-----------------*/
#exit{
	height:14px;
	width:14px;
	margin-top: 22px;
	margin-right: 22px;
}
#pips-slider1, #pips-slider2{
	margin-left: 35px;
	margin-right: 35px;
}
.ui-slider .ui-slider-handle {
    height: 30px;
    width: 30px;
    margin-left: -15.5px;
    margin-top: -5.5px;
    background:#FAA20E;
    border-radius: 100px;
    border-color: transparent;
}
.btngenre{
	display: none;
}
.slædergenre{
	display: block;
	background-color: green;
	height: 20px;
}
.button.showmore{
	display: none;
}
.button.orange.seemore.btnsearch{
	margin-top: 70px;
	margin-bottom: 47px;
	font-size: 18px;
	text-align: center;
	line-height: 10px;

	padding-left:110px;
	padding-right: 110px;
}
}
