footer {

background-image: linear-gradient(0deg, #E7833B 0%, #FBA20E 50%);
height: 305px;

}

#footerlogo {

width: 131px;
height: auto;
margin-top: 53px;
margin-bottom: 47px;

}

.row {

	max-width: 1380px;
}

footer a {

text-decoration: none;
list-style: none;
font-family: 'Oswald-Light';
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0.67px;
padding-right: 20px;

}

footer li {

	padding-right: 18px;
	padding-left: 18px;
}

footer ul {

	list-style: none;
	justify-content: center;

}

footer p {

font-family: 'Oswald-Light';
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.67px;

}