.slider{
  width:400px;
  height: 200px;
  margin:10px;
}

.slider .item{
  width: 100%;
  height:100%;
}

.yellow{
	background-color: #FFC600;
}
.green{
	background-color: #01843D;
}
.orange{
	background-color: #FF5B36;
}
